.main {
  width: 100%;
  height: 1000px;
}

.left {
  width: 45%;
  height: 95%;

  float: left;
  border: 1px solid;
}

.silde {
  width: 80%;
  margin-left: 10%;
  margin-top: 10%;
  height: 80%;
}

.slideimgbox {
  width: 100%;
  height: 800px;
  position: relative;
  overflow: hidden;
}

.slideimg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -2px;
  object-fit: fill;
  text-align: center;
}

.right {
  width: 55%;
  height: 95%;
  float: left;
  border: 1px solid;
}

.introa {
  width: 90%;
  height: 25%;
  margin-left: 5%;
  margin-top: 5%;
  border: 1px solid;
}

.atitle {
  width: 95%;
  height: 30%;
  margin-top: 1%;
  margin-left: 2%;
  border: 1px solid;
  font-size: 2em;
  font-weight: bold;
}

.awrite {
  width: 95%;
  height: 66%;
  margin-top: 1%;
  margin-left: 2%;
  border: 1px solid;
}

.introb {
  width: 90%;
  height: 25%;
  margin-left: 5%;
  margin-top: 5%;
  border: 1px solid;
}

.introcc {
  width: 40%;
  height: 35%;
  margin-left: 5%;
  margin-top: 5%;
  border: 1px solid;
  float: left;
}

.introc {
  width: 40%;
  height: 35%;
  margin-left: 5%;
  margin-top: 5%;
  border: 1px solid;
  float: left;
}

.btn {
  background: orange;
  border: 3px solid #fff;
  border-radius: 15px;
  color: #fff;
  display: block;
  font-size: 0.3em;
  font-weight: bold;
  padding: 2em 6em;
  margin: 0 auto;
  margin-top: 10%;
}

.btn:hover {
  color: #2ecc71;
}
